{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>3조 미세먼지팩트체크</title>

  <link href="{% static 'css/core.css' %}?ver=1.66" rel="stylesheet">
  <link href="{% static 'css/skeleton.css' %}?ver=1.14" rel="stylesheet">

  <!-- jquery -->
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <script src="http://d3js.org/d3.v3.min.js"></script>
  <script src="http://d3js.org/topojson.v1.min.js"></script>
  <script src="{% static 'js/seoul_svg.js' %}"></script>

</head>
<body>

<!--Header-->
<header>
  <nav class="nav_desktop">
    <div class="nav_bottom">
      <div id="logo"><a href="/"><img src="{% static 'logo.png' %}" alt="해피문데이 로고" title="해피문데이 로고"></a></div>
      <div style="flex:1.5"></div>
      <div class="menu_group">
        <a href="{% url 'core:home' %}" class="nav_company">실시간미세먼지</a>
        <a href="{% url 'core:article_detail' 1 %}" class="nav_product">기사보기</a>
        <a href="{% static 'pres.pptx' %}" class="nav_product">발표자료</a>
        <a href="/" class="nav_review">팀소개</div></a>
      </div>
    </div>
  </nav>
</header>


<!-- content-->
  <div class="main">
{#    <div>#}
{#      <p>url list:</p>#}
{#      <ul>#}
{#        <li><a href="{% url 'core:middle' %}">동별미세먼지</a></li>#}
{#        <li><a href="{% url 'core:small' %}">모든미세먼지</a></li>#}
{#      </ul>#}
{#    </div>#}

  {% block content %}
  {% endblock %}
  </div>

<!-- Footer-->
  <footer>
    <div class="wrap">
      <div class="company_infomation">
        <p>
          팀원: 권나현&nbsp; 서지희&nbsp; 손준혁&nbsp;신경연&nbsp;<br>
          © <b>3조 서울시 미세먼지 팩트체크</b> ALL Rights Reserved
        </p>
      </div>
    </div>
  </footer>



</body>
</html>