{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="left">
    <a href="{% url 'core:article_detail' 4 %}"><img id="left" src="{% static 'leftarrow.png' %}"></a>
  </div>
  <div class="main2">
    <h2 class="title">국가 관측소, 앞으로 어떻게 개선해야 하는가</h2>
    <p>이에 따라 국가 관측소의 데이터를 믿지 못하겠다는 민간 차원의 여론은 몇 년 전부터 제기되었습니다. 실제로 개인이 휴대용 미세먼지 측정 기계를 구입해 이용하거나, 케이웨더를 비롯한 다양한 민간 업체에서 더욱 세밀한 측정망을 설치하는 방식의 대응이 이루어져 왔습니다. SK텔레콤에서는 요구르트 냉동 카트에 공기 질 측정기를 설치하여 미세먼지 정보를 모으는 방식으로, 사람들이 실제로 생활하는 영역의 미세먼지 정보를 제공하는 ‘everyair’ 서비스를 올해 10월에 출시하기도 했습니다. 사람들이 원하는 것은 현재 자신이 있는 곳의 미세먼지 농도를 확인하는 것인 만큼, 이러한 시도들이 미세먼지에 대한 불확실성에서 벗어나는 데 도움이 될 것입니다</p>
    <p>이와 같이 미세먼지 관측치에 대한 불신이 증가한 요즈음, 이제는 정부 차원에서의 실효성 있는 대안이 필요할 것입니다. 전국에서 서울특별시가 가장 관측소가 많은 편인데 그마저도 수가 너무 적어 구 전체의 농도를 제대로 반영하지 못하고 있으므로, 서울을 비롯한 전국에 더 많은 수의 관측소를 설치해야 합니다. 또한 단순히 관측소의 수만 늘리는 것이 아니라, 관측소의 설치 위치에 대한 강제력 있는 규제안도 필요합니다. 환경부에서 2016년에 발행한 <대기오염측정망 설치 및 운영지침>에 미세먼지 측정소의 위치에 대한 권고안이 포함되어 있지만, 권고안에 불과하기 때문에 이를 지키고 있지 않은 지역이 많기 때문입니다.</p>
    <p>미세먼지에 대한 국민들의 불안이 나날이 커지고 있는 만큼, 정부에서 현재 시행하고 있는 관련 정책이 얼마나 실효성이 있는가에 대해 엄밀히 검토하고, 체계적이고 현실적인 미세먼지 관측 및 예보 시스템을 마련하기를 기대해 봅니다.</p>
  </div>

{% endblock %}