{% load static %}
<link href="{% static 'css/core.css' %}?ver=1.66" rel="stylesheet">
<link href="{% static 'css/skeleton.css' %}?ver=1.14" rel="stylesheet">

  <!-- jquery -->
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<script src="{% static 'js/seoul_svg.js' %}"></script>

<div>
  <div id="chart"></div>
</div>
  <script>
    var width = 800,
      height = 600;

    var svg = d3.select("#chart").append("svg")
    .attr("width", width)
    .attr("height", height);

    var map = svg.append("g").attr("id", "map"),
    places = svg.append("g").attr("id", "places");

    var projection = d3.geo.mercator()
    .center([126.9895, 37.5651])
    .scale(100000)
    .translate([width/2, height/2]);

    var path = d3.geo.path().projection(projection);

    d3.json("{% static "seoul_municipalities_topo_simple.json" %}", function(error, data) {
      var features = topojson.feature(data, data.objects.seoul_municipalities_geo).features;


      map.selectAll("path")
          .data(features)
        .enter().append("path")
          .attr("class", function(d) {return "municipality c" + d.properties.code })
          .attr("id", function(d) {return d.properties.SIG_KOR_NM})
          .attr("d", path);
      map.selectAll("text")
          .data(features)
        .enter().append("text")
          .attr("transform", function(d) { return "translate(" + path.centroid(d) + ")"; })
          .attr("dy", ".35em")
          .attr("class", function(d) {return d.properties.SIG_KOR_NM})
          .text(function(d) { return d.properties.SIG_KOR_NM; })
    });

    d3.csv("{% static 'kdata_m.csv'%}", function(data) {
      places.selectAll("circle")
          .data(data)
        .enter().append("circle")
          .attr("style", function(d) {return 'fill: ' + d.color})
          .attr("cx", function(d) { return projection([d.lon, d.lat])[0]; })
          .attr("cy", function(d) { return projection([d.lon, d.lat])[1]; })
          .attr("r", 5)
          .attr("id", function(d) {return d.name})


      places.selectAll("text")
          .data(data)
        .enter().append("text")
          .attr("x", function(d) { return projection([d.lon, d.lat])[0]; })
          .attr("y", function(d) { return projection([d.lon, d.lat])[1] + 8;})
          {#.text(function(d) { return d.name });#}
    });
  </script>

  <script>
  var data = {{ seoul_district|safe }};
  setTimeout(function() {for (i = 1; i < 26; i++){
      document.getElementById(data[i][0]).style.fill = data[i][2];
      document.getElementsByClassName(data[i][0])[0].innerHTML = data[i][0] + ' ' + data[i][1] + "㎍/㎥"
  }}, 300)
  </script>
