.chart_wrap{
  display: flex;
  background-color: #f5f6f5;
}
.blank{
  flex:0.1
}
.info {
  flex:0.8;
}
.forecast{
  border-bottom: 2px solid #868e96;
  padding-bottom: 20px;
  margin-bottom: 20px;
}
.spec{
  border-collapse: collapse;
  width: 100%;
  border-bottom: 1px solid #868e96;
  margin-bottom: 20px;
}
.spec td:first-child {
  padding: 10px 0;
  vertical-align: top;
  width: 90px;
}
/* seoul svg*/
svg circle {
  fill: orange;
  opacity: .5;
  stroke: white;
}
svg circle:hover {
  fill: red;
  stroke: #333;
}
svg text {
  cursor:pointer;
}
svg .municipality {
  fill: #efefef;
  stroke: #fff;
}
svg .municipality-label {
  fill: #bbb;
  font-size: 12px;
  font-weight: 300;
  text-anchor: middle;
}
svg #map text {
  color: #333;
  font-size: 10px;
  text-anchor: middle;
}
svg #places text {
  color: #777;
  font: 10px sans-serif;
  text-anchor: start;
}

article {
  font-size: 1rem;
  line-height: 1.7em;
  color: #212529;
  padding-bottom: 70px;
}

td > img {
  height: 50px;
  width: auto;
}

.main2 {
  width: 800px;
  margin: auto;
}
.invisible{
  display:none;
}

.left{
  position:fixed;
  top:400px;
  left:50px;
}
#left{
  width: 100px;
}
.right{
  position:fixed;
  top:400px;
  right:50px;
}
#right{
  width: 100px;
}